<section class="section">
  <div class="row">
    <div class="col-lg-12">
        <%= form_with model: @lawyer, local: true, html: { class: "row g-3" } do |f| %>
            <% if @lawyer.errors.any? %>
              <div class="col-9">
                <div class="alert alert-danger">
                  <h5><%= pluralize(@lawyer.errors.count, "error") %> prevented this form from saving:</h5>
                  <ul class="mb-0">
                    <% @lawyer.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="col-md-6 mb-3">
              <%= f.label :name, class: "form-label fw-bold" %>
              <%= f.text_field :name, class: "form-control", disabled: action_name == "show" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :email, class: "form-label fw-bold" %>
              <%= f.email_field :email, class: "form-control", disabled: action_name == "show" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :gender, class: "form-label fw-bold" %>
              <%= f.select :gender, options_for_select([['Male', 'male'], ['Female', 'female'], ['Other', 'other']], f.object.gender), { prompt: "Select Gender" }, class: "form-select", disabled: action_name == "show" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :phone, class: "form-label fw-bold" %>
              <%= f.text_field :phone, class: "form-control", disabled: action_name == "show" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :password, class: "form-label fw-bold" %>
              <%= f.password_field :password, class: "form-control", disabled: action_name == "show" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :address, class: "form-label fw-bold" %>
              <%= f.text_field :address, class: "form-control", disabled: action_name == "show" %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :category, class: "form-label fw-bold" %>
              <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, { prompt: "Select a category" }, class: "form-select", disabled: action_name == "show" %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :city, class: "form-label fw-bold" %>
              <%= f.text_field :city, class: "form-control", disabled: action_name == "show"  %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :zipcode, class: "form-label fw-bold" %>
              <%= f.text_field :zipcode, class: "form-control", disabled: action_name == "show"  %>
            </div>
            <div class="col-12 mb-3">
              <div class="form-check">
                <%= f.check_box :active, class: "form-check-input", id: "user_active", disabled: action_name == "show" %>
                <%= f.label :active, "Active", class: "form-check-label", for: "user_active" %>
              </div>
            </div>
            <% unless action_name == "show" %>
             <div class="text-center">
              <%= f.submit "Submit", class: "btn btn-primary" %>
             </div>
            <% end %>
        <% end %>
    </div>
  </div>
</section>
