<section class="section">
  <div class="row">
    <div class="col-lg-12">
        <%= form_with model: @task, local: true, html: { class: "row g-3" } do |f| %>
            <% if @task.errors.any? %>
             <div class="col-12">
              <div class="alert alert-danger">
                <h5><%= pluralize(@task.errors.count, "error") %> prevented this form from saving:</h5>
                <ul class="mb-0">
                 <% @task.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                 <% end %>
                </ul>
              </div>
             </div>
            <% end %>
            <div class="col-md-6 mb-3">
              <%= f.label :task_name, class: "form-label fw-bold" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :details, class: "form-label fw-bold" %>
              <%= f.text_field :description, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :case, class: "form-label fw-bold" %>
              <%= f.collection_select :case_id, @court_cases, :id, :title, { prompt: "Select Case" }, class: "form-select" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :status, class: "form-label fw-bold" %>
              <%= f.select :status, [["Pending", "pending"], ["In Progress", "in_progress"], ["Completed", "completed"]], { prompt: "Select Status" }, { class: "form-select" }%>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :due_date, class: "form-label fw-bold" %>
              <%= f.date_field :due_date, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :assigned_to, "Assignee", class: "form-label fw-bold" %>
              <%= f.collection_select :assigned_to, @users, :id, :name, { prompt: "Select User" }, class: "form-select" %>
            </div>

              <% if @task.documents.any? %>
            <div class="col-md-12 mb-3">
             <label class="form-label fw-bold">Uploaded Documents</label>
             <ul>
              <% @task.documents.each do |doc| %>
                <% doc.files.each do |file| %>
                 <li>
                  <%= link_to file.filename.to_s, rails_blob_path(file, disposition: "attachment"), target: "_blank" %>
                  (<%= file.content_type %>, <%= number_to_human_size(file.byte_size) %>)
                 </li>
                <% end %>
              <% end %>
             </ul>
            </div>
           <% end %>

          <!-- Upload New Files -->
          <div class="col-md-6 mb-3">
           <%= label_tag :new_documents, "Upload New Documents (PDF, Image, Video)", class: "form-label fw-bold" %>
           <%= file_field_tag "new_documents[]", multiple: true, class: "form-control", direct_upload: true %>
           <%= hidden_field_tag :uploaded_by_id, current_user.id %>
          </div>
            
            <div class="text-center">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
  </div>
</section>
