<section class="section">
  <div class="row">
    <div class="col-lg-12">
        <%= form_with model: @court_case, local: true, html: { class: "row g-3", multipart: true } do |f| %>
           <% if @court_case.errors.any? %>
             <div class="col-12">
              <div class="alert alert-danger">
                <h5><%= pluralize(@court_case.errors.count, "error") %> prevented this form from saving:</h5>
                <ul class="mb-0">
                 <% @court_case.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                 <% end %>
                </ul>
              </div>
             </div>
            <% end %>

            <div class="col-md-6 mb-3">
              <%= f.label :case_number, class: "form-label fw-bold" %>
              <%= f.text_field :case_number, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :title, class: "form-label fw-bold" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :description, class: "form-label fw-bold" %>
              <%= f.text_field :description, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :client, class: "form-label fw-bold" %>
              <%= f.collection_select :client_id, @clients, :id, :name, { prompt: "Select Client" }, class: "form-select" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :court_no, class: "form-label fw-bold" %>
              <%= f.text_field :court_no, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :category, class: "form-label fw-bold" %>
              <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, { prompt: "Select a category" }, class: "form-select" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :judge, class: "form-label fw-bold" %>
              <%= f.collection_select :judge_id, @judges, :id, :name, { prompt: "Select Judge" }, class: "form-select" %>
            </div>

            <div class="col-md-6 mb-3">
              <%= f.label :status, class: "form-label fw-bold" %>
              <%= f.select :status, ["open", "closed", "pending"], { prompt: "Select Status" }, { class: "form-select" } %>
            </div>
            
            <div class="col-md-6 mb-3">
              <%= f.label :first_hearing_date, class: "form-label fw-bold" %>
              <%= f.date_field :first_hearing_date, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :next_hearing_date, class: "form-label fw-bold" %>
              <%= f.date_field :next_hearing_date, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :priority, class: "form-label fw-bold" %>
              <%= f.select :priority, options_for_select(["Low", "Normal", "High", "Urgent", "Critical", "Immediate"], @court_case.priority), {}, class: "form-select" %>
            </div>

            <div class="col-md-6 mb-3">
              <%= f.label :workflow_status, class: "form-label fw-bold" %>
              <%= f.select :workflow_status, ["intake", "investigation", "trial", "closed"], { prompt: "Select Workflow Status" }, class: "form-select" %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :lawyers, "Lawyers", class: "form-label fw-bold" %>
              <%= f.select :lawyer_ids, [["Select Lawyers", ""]] + Lawyer.all.map { |l| [l.name, l.id] }, {}, { multiple: true, class: "form-select" } %>
            </div>

           <% if @court_case.documents.any? %>
            <div class="col-md-12 mb-3">
             <label class="form-label fw-bold">Uploaded Documents</label>
             <ul>
              <% @court_case.documents.each do |doc| %>
                <% doc.files.each do |file| %>
                 <li>
                  <%= link_to file.filename.to_s, rails_blob_path(file, disposition: "attachment"), target: "_blank" %>
                  (<%= file.content_type %>, <%= number_to_human_size(file.byte_size) %>)
                 </li>
                <% end %>
              <% end %>
             </ul>
            </div>
           <% end %>

          <!-- Upload New Files -->
          <div class="col-md-6 mb-3">
           <%= label_tag :new_documents, "Upload New Documents (PDF, Image, Video)", class: "form-label fw-bold" %>
           <%= file_field_tag "new_documents[]", multiple: true, class: "form-control", direct_upload: true %>
           <%= hidden_field_tag :uploaded_by_id, current_user.id %>
          </div>

          <% unless action_name == "show" %>
            <div class="text-center">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
            <% end %>
          <% end %>
    </div>
  </div>
</section>
