<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Appointments</h5>
        <div class="d-flex justify-content-end mb-4">
          <%= link_to 'New Appointment', new_appointment_path, class: 'btn btn-primary' %>
        </div>
        <div class="mb-4">
          <%= form_with url: appointments_path, method: :get, data: { controller: "search", turbo_frame: "_top" } do %>
            <div class="d-flex flex-wrap gap-2 mb-4">
              <%= select_tag :lawyer, options_from_collection_for_select(Lawyer.all, :id, :name, params[:lawyer]), include_blank: "Lawyer", class: "form-select", style: "width: 140px; margin-right: 17px;", data: { action: "change->search#search" } %>
            </div>

            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
              <%= search_field_tag :query, params[:query], placeholder: "Search...", class: "form-control", style: "width: 220px;", data: { action: "input->search#search" } %>

              <div class="d-flex align-items-center gap-2">
                 <%= date_field_tag :date, params[:date], class: "form-control", style: "width: 140px; margin-right: 12px;", data: { action: "change->search#search" } %>
                 <div class="btn-group">
                   <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Export</button>
                   <ul class="dropdown-menu">
                    <li><%= link_to "CSV", appointments_path(format: :csv), class: "dropdown-item" %></li>
                    <li><%= link_to "XLSX", appointments_path(format: :xlsx), class: "dropdown-item" %></li>
                   </ul>
                 </div>
              </div>
            </div>
         <% end %>
        </div>
        <%= render "appointments/index" %>
      </div>
    </div>
  </section>
</main>
